<!doctype html>
<html>
	<head>
		<title>Title</title>
		<script src="js/angular.min.js"></script>
		<script src="js/ngStorage.min.js"></script>
		<link rel="stylesheet" href="main.css">
		<script src="js/AJS.js"></script>
		<link rel="stylesheet" href="js/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	</head>
	<body ng-app="myApp">
		<div ng-controller="AJS">
			<form ng-submit="createTracker()" class="contact_form" name="contact_form">
				<ul>
					<li>
						<h2 data-role="header">Add a Tracker</h2>
						<span class="required_notification">'*' Denotes Required Field</span>
					</li>
					<li>
						<label for="name">Name:</label>
						<input type="text" name="name" ng-model="tName" required />
						<span>*</span>
					</li>
					<li>
						<label for="price">Price:</label>
						<input type="text" name="price" ng-model="tPrice" required />
						<span>*</span>
					</li>
					<li>
						<label for="funds">Funds:</label>
						<input name="funds" ng-model="tFunds" />
					</li>
					<li>
						<input type="submit" value="Submit Form" />
					</li>
				</ul>
			</form>
			<div ng-repeat="tracker in $storage.trackers">
				name: {{ tracker.name }} price: {{ tracker.price }}
				<button ng-click="removeTracker($index)">Delete</button>
			</div>
			<!-- <form ng-submit="functionName()">
				Funds Added: <input type="text" ng-model="tfAdd" />
				<input type="submit">
			</form> -->
		</div>
	</body>
</html>